body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("images/Background.png");
}
h3 {
    font-size: 60px;
    color: #DA4151;
    text-align: center;

}

.startButton{
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.694);
    border-radius: 100px;
    border: solid 4px #DA4151;
    padding: 20px;
    color: #DA4151; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:40%;
    margin-left: 40%;
    text-decoration: none;
}

.startButton:hover {
    background-color: #DA4151;
    color: white;
}


header {
    background-color: #DA4151;
    color: white;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 36px;
    font-weight: bold;
}

nav button {
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border: solid 3px #ffffff;
    padding: 15px 15px;
    margin-left: 10px;
    border-radius: 40px;
    cursor: pointer;
}

main {
    display: flex;
    padding: 20px;
}

.content-area{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 100px 40px 100px 40px;
}

.content-left, .content-right{
    background-color: white;
    border: 3px solid #DA4151;
    border-radius: 30px;
    height: 600px;
    flex: 1;
    margin-right: 50px
}


.image-area {
    flex: 0 0 200px;
}

.index-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.index_aj1 {
    width: 280px;
    animation: indexanimate 3s ease-in-out infinite;
}

.index_aj2 {
    width: 260px;
    animation: indexanimate2 3s ease-in-out infinite;
}

@keyframes indexanimate {
    0%, 100% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-18deg);
    }
}

@keyframes indexanimate2 {
    0%, 100% {
        transform: rotate(-18deg);
    }
    50% {
        transform: rotate(15deg);
    }
}

@keyframes ajanimate{
    0%, 100%{
        transform: translateY(-100px);
    }
    50%{
        transform: translateY(0px);
    }
}

