body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("images/Background.png");
}
h3 {
    font-size: 50px;
    color: #DA4151;
    text-align: center;

}

.startButton{
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.694);
    border-radius: 100px;
    border: solid 10px #DA4151;
    padding: 20px;
    color: #DA4151; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:40%;
    margin-left: 40%;
    text-decoration: none;
    text-shadow: 50 50 50px var(#DA4151);
}

.startButton:hover {
    background-color: #DA4151;
    color: white;
}


header {
    background-color: #DA4151;
    color: white;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 36px;
    font-weight: bold;
}

main {
    display: flex;
    padding: 20px;
}

.content-area{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 100px 40px 100px 40px;
}

.content-left, .content-right{
    background-color: white;
    border: 3px solid #DA4151;
    border-radius: 30px;
    height: 600px;
    flex: 1;
    margin-right: 50px
}


.image-area {
    flex: 0 0 200px;
}

.index-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.index_aj1 {
    width: 320px;
    animation: indexanimate 3s ease-in-out infinite;
}

.index_aj2 {
    width: 345px;
    animation: indexanimate2 3s ease-in-out infinite;
}

@keyframes indexanimate {
    0%, 100% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-20deg);
    }
}

@keyframes indexanimate2 {
    0%, 100% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(15deg);
    }
}

@keyframes ajanimate{
    0%, 100%{
        transform: translateY(-100px);
    }
    50%{
        transform: translateY(0px);
    }
}

@keyframes thunderAnimation {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(1.5);
    }
  }
  
  .thunder {
    font-size: 20px;
    color: #FFD700;
  }

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.box .group{
    position: relative;
    transform: rotate(-30deg);
    display: flex;
    flex-direction: column;
    gap: 1 em;
    color: rgb(255, 255, 115);
}

.iconContainer{
    display: flex;
    gap: 0.5em;
    margin-bottom: 0.5em;
    font-size: 4em;
    width: 200vw;
    animation: bganimate 80s linear infinite;
}
@keyframes bganimate{
    0%, 100%{
        transform: translateX(-100vw);
    }
    50%{
        transform: translateX(0vw);
    }
}
.iconContainer:nth-child(even){
    animation: bganimate-reverse 80s linear infinite;
}
@keyframes bganimate-reverse{
    0%, 100%{
        transform: translate(0vw);
    }
    50%{
        transform: translate(-100vw);
    }
}
.iconContainer i{
    cursor: default;
    user-select: none;
    transition: 2s;
    color: transparent;
    opacity: 0.35;
    -webkit-text-stroke: 1px var(--main-color);
}
.iconContainer i:hover{
    color: var(--main-color);
    transition: 0s;
    -webkit-text-stroke: 1px transparent;
    opacity: 1;
    text-shadow: 0 0 50px var(--main-color);
}

