
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}


header {
  background-color: #DA4151;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: bold;
}

button {
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: solid 3px white;
  padding: 15px;
  margin-left: 10px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: white;
  color: #DA4151;
}

.content-area {
  display: flex;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  height: auto;
}

.left_text_box {
  display: flex;
  flex-direction: column;
  width: 50%;

}
.text_box {
  padding: 5%;
  width: 60%;  
  height: 20vh;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-image: url(../images/6.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.thumbnail {
  height: 80vh;
  background-image: url(../images/5.png);
  background-repeat: no-repeat;
  width: 90%;
}

.summary {
  width: 30%; 
  height: 60vh;
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-size: 80%;
  padding: 5%;
}
.searchwrap{
  width:90%;
}
.search_button {
  position: relative;
  bottom: 10px;
  right: 10px;
  background-color: #DA4151;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  float:right;
}